@font-face {
  font-family: 'Circular';
  src: url('/public/fonts/circular-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('/public/fonts/circular-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('/public/fonts/circular-black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 10px;
}

body {
  font-family: 'Circular', sans-serif;
}

.gutter {
  scrollbar-gutter: stable;
}

.hover-trigger .play-pause-icon {
  opacity: 0;
  transform: translateY(8px);
  transition: all .2s;
}

.hover-trigger:hover .play-pause-icon {
  opacity: 1;
  transform: translateY(0);
}